@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap');


h2 {
    color: black;
    font-family: 'Playpen Sans', cursive;
    font-size: 30px;
    text-align: center;
    padding: 14.2%;
    margin: auto;
}